.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    input[type="text"] {
        width: 100%;
        max-width: 800px;
        padding: 8px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 2px 4px black;
        font-size: 16px;
        outline: none;
    }
    input[type="text"]::placeholder {
        color: black;
    }
}
@media only screen and (max-width: 768px) {
    .search-container {
        padding: 1rem;
        input[type="text"] {
            font-size: 14px;
        }
    }

}
@media only screen and (max-width: 480px){
    .search-container {
        padding: 1rem;
        input[type="text"] {
            font-size: 12px;
        }
    }
    .container-text-center{
        padding: 10px;
    }
}
#image-new-york{
    background-image: url(https://images.pexels.com/photos/14426200/pexels-photo-14426200.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}

#image-paris{
    background-image: url(https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}

#image-riodejaneiro{
    background-image: url(https://images.pexels.com/photos/351283/pexels-photo-351283.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}

#image-tokio{
    background-image: url(https://images.pexels.com/photos/1510595/pexels-photo-1510595.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-santiago{
    background-image: url(https://images.pexels.com/photos/2017747/pexels-photo-2017747.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-amsterdam{
    background-image: url(https://images.pexels.com/photos/2366108/pexels-photo-2366108.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-cancun{
    background-image: url(https://images.pexels.com/photos/9482125/pexels-photo-9482125.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-madrid{
    background-image: url(https://images.pexels.com/photos/3757144/pexels-photo-3757144.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-roma{
    background-image: url(https://images.pexels.com/photos/2678456/pexels-photo-2678456.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-miami{
    background-image: url(https://images.pexels.com/photos/4366062/pexels-photo-4366062.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-machupicchu{
    background-image: url(https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
#image-elcairo{
    background-image: url(https://images.pexels.com/photos/4356144/pexels-photo-4356144.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
}
.card-precio {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 20px;
    .text-title{
        padding: 12px;
        font-size: 20px;
    }
}
.container-text-center h2{
    padding: 15px;
}
.star-rating{
    padding: 10px;
}
#comprar{
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: whitesmoke;
    border: 1px solid #40394A;
    display: flex;
    align-items: center;
    font-size: 15px;
}
  
#comprar:hover {
    background: #7ECA9C;
}
  
#comprar > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
  
#comprar:hover svg {
    transform: translateX(5px);
}
  
#comprar:active {
    transform: scale(0.95);
}